* {
  border-radius: 7px;
}

window#waybar {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0);
  color: @fg;
}


.modules-left {
  border: 2px solid @gray;
  background-color: @bg-alt;
}

.modules-right {
  border: 2px solid @gray;
  background-color: @bg-alt;
}


#custom-os-icon {
  font-size: 25px;
  padding: 0px 14px 0px 8px;
  border-radius: 5px;
  color: @bg;
  background-color: @blue;
}


#workspaces {
  border-radius: 5px;
  margin: 3px 7px 3px 0px;
  background-color: @bg;
}

#workspaces button {
  margin: 0px;
  padding: 0px 10px 0px 5px;
}

#workspaces button label {
  font-size: 17px;
  color: @fg;
}

#workspaces button.active label {
  color: @blue;
}

#workspaces button:hover {
  background-color: @blue;
}

#workspaces button:hover label {
  color: @bg;
}


#pulseaudio {
  min-width: 65px;
  margin: 3px 0px 3px 7px;
  background-color: @bg;
}

#disk {
  min-width: 65px;
  margin: 3px 0px;
  background-color: @bg;
}

#memory {
  min-width: 95px;
  margin: 3px 0px;
  background-color: @bg;
}

#cpu {
  min-width: 65px;
  margin: 3px 0px;
  background-color: @bg;
}

#battery {
  min-width: 65px;
  margin: 3px 0px;
  background-color: @bg;
}

#clock {
  font-size: 12px;
  margin-right: 7px;
}
